* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zoom {
  position: sticky;
  top: 30vh;
  will-change: transform;
  width: 500px;
  transform: scale(2.2);
}
.text {
  position: fixed;
  top: 68vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 60px;
  opacity: 0;
  width: 100%;
  text-align: center;
  will-change: transform;
  transition: all 0.3s ease;
}

.bottom {
  height: 100vh;
}

.top {
  height: 80vh;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
}
